.home {
    width: 100%;
}

h1 {
    font-size: 2vw;
    text-align: center;
    color: black;
}

form {
    border-radius: 15px;
    background-color: #1A1234;
    width: 35%;
    box-shadow: 1px 1px 5px 0px #242526;
}

.logo{
    max-width: 100%;
    height:auto;
}

.imageContainer{
    width: 17%;
    background-color: #1A1234;
    border-radius: 50px;
    margin: 4% auto auto;
}

::placeholder {
    color: gray;
    opacity: 1;
    font-size:1vw;
}
